.container {
    width: 100%;
    position: relative;

    &--search--input {
        height: 50px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 15px;

        input {
            padding: 15px 20px;
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 15px;

            &:focus {
                border: 1px solid #002144;
                outline: none;
            }
        }
    }

    &--search--action {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translate(0, -100%);
        right: 0;
        height: 50px;
        background-color: #272828;
        padding: 5px 16px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        img {
            height: 36px;
            width: auto;
            object-fit: contain;
        }
    }
}