<div class="page--container">
    <div class="page--container--left">
        <div class="page--container--left__shape"></div>
        <img src={{image}} alt="">
    </div>
    <div class="page--container--right">
        <div class="page--container--right__heading">
            <h1>About ARKIVE</h1>
        </div>
        <div class="page--container--right__content">
            <p>
                ARKIVE is a powerful inventory management system designed specifically for players of the popular video game, Ark Survival Evolved. Our platform is built with one goal in mind: to simplify the process of managing your in-game items and resources, so you can spend less time worrying about your inventory and more time enjoying the game.<br><br>

                At ARKIVE, we understand that Ark Survival Evolved is a complex and challenging game, and keeping track of your inventory can be a daunting task. That's why we created a platform that is intuitive, user-friendly, and packed with features that make inventory management a breeze.<br><br>

                Whether you're a casual player or a serious gamer, ARKIVE is the ultimate inventory management system for Ark Survival Evolved. Try it today and experience the difference for yourself.
            </p>
        </div>
        <div class="page--container--right__action">
            <app-button
                type="primary"
                size="large"
                placeholder="Manage Inventory"
                (click)="navigateToInventory()"
            />
        </div>
    </div>
</div>