@import '../../../styles.scss';

.container {
    width: 320px;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 15px;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        border-bottom: 1px solid #DADADA;

        h1 {
            color: #000C1A;
            font-size: 20px;
        }

        p {
            cursor: pointer;
            color: #EB5757;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--category {
        padding: 10px 20px;
        border-bottom: 1px solid #DADADA;
        
        &__option {
            display: flex;
            flex-flow: column;
            gap: 5px;
        }

        h1 {
            color: #000C1A;
            font-size: 16px;
            font-weight: 600;
        }
    }

    &--availability {
        padding: 10px 20px;

        h1 {
            color: #000C1A;
            font-size: 16px;
            font-weight: 600;
        }
    }
}