<div class="container">
    <div class="container__heading">
        <h1>Filter</h1>

        <p (click)="clearFilters()">Clear all</p>
    </div>
    <div class="container--category">
        <div class="container--category__heading">
            <h1>Category</h1>
        </div>

        <div class="container--category__option">
            <app-checkbox/>
        </div>
    </div>
    <div class="container--availability">
        <div class="container--availability__heading">
            <h1>Availability</h1>
        </div>

        <div class="container--availability__option">
            <app-radio-button/>
        </div>
    </div>
</div>